body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 20px;
  background-image: url('wp5529802.jpg');
  color: #fff;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
 
  background: transparent;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
}

.password-form {
  text-align: left;
  
}

label {
  display: block;
  margin-top: 10px;
}

input[type="password"] {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  box-sizing: border-box;
}

input[type="submit"] {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #9e3bd4;
  color: #fff;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #b384dc;
}
